@font-face {
  font-family: 'PoppinsLight';
  src: url('/src/assets/scss/globals/fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsMedium';
  src: url('/src/assets/scss/globals/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsRegular';
  src: url('/src/assets/scss/globals/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('/src/assets/scss/globals/fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsBold';
  src: url('/src/assets/scss/globals/fonts/Poppins-Bold.ttf') format('truetype');
}
